// Colors

$color-accent: #43081A;
$color-neutral: #FBE6D3;
$color-text: #373737;
$color-text-secondary: #808080;

$color-accent-hover: #370516;
$color-neutral-hover: #ccbcb1;

//Breakpoints
$max-width: 1400px;
$md1: 1200px;
$md2: 960px;
$md3: 576px;
$md4: 375px;
$minWidth: 320px;
